/* Button
--------------------------------------------- */

.is-style-outline {
    border-color: var( --wp--preset--color--tertiary );
    color: var( --wp--preset--color--tertiary );
}

.is-style-outline a {
        padding-block: .5rem;
}